*
!.gitignore
!.gitlab-ci.yml
!CLAUDE.md
!docker-compose.yaml
!docker-compose.prod.yaml
!migrations
!docs
!backend
!client
!worker
!db
!utils
!hooks
!shared
!gitlab.ts
!issue.ts
!package.json
!bun.lock
!tsconfig.json
!eslint.config.js
!README.md
!.env.example
!typescript-graph.md
